<template>
  <div>
    <v-dialog
      v-model="edit_dialog_value"
      width="600px"
      persistent
    >
      <v-card>
        <v-container class="pa-4">
          <v-row>
            <v-col md="12" cols="12">
              <v-text-field
                :rules="[rules.stringOnly]"
                label="User name(Required field)"
                hint="Write your name please"
                v-model='user.username'
                color="#46aa28"
              ></v-text-field>
            </v-col>
            <v-col md="12" cols="12">
              <v-text-field
                :rules="[rules.email]"
                label="E-mail(Required field)"
                hint="Write your e-mail please"
                v-model='user.email'
                color="#46aa28"
              ></v-text-field>
            </v-col>
            <v-col md="12" cols="12">
              <v-text-field
                :rules="[rules.stringOnly]"
                label="City"
                hint="Write your city please"
                v-model='user.address.city'
                color="#46aa28"
              ></v-text-field>
            </v-col>
            <v-col md="6" cols="12">
              <v-text-field
                :rules="[rules.stringOnly]"
                label="Street"
                hint="Write your street please"
                v-model='user.address.street'
                color="#46aa28"
              ></v-text-field>
            </v-col>
            <v-col md="6" cols="12">
              <v-text-field
                label="Block"
                hint="Write your block please"
                v-model='user.address.suite'
                color="#46aa28"
              ></v-text-field>
            </v-col>
            <v-col md="12" cols="12">
              <v-row class="d-flex justify-end">
                <v-col md="3" cols="6">
                  <v-btn
                    @click="close_dialog()"
                    color="red"
                  >Cancel
                  </v-btn>
                </v-col>
                <v-col md="3" cols="6">
                  <v-btn
                    :disabled="user.username == '' || user.email == ''"
                    @click="save()"
                    color="#46aa28"
                  >Save
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card>

    </v-dialog>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        modalValue: true,
        oldpass: '',
        rules: { // rules for minimal form fields validation
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Invalid e-mail.'
          },
          stringOnly: value => {
            const pattern = /^[A-Za-z]+$/
            return pattern.test(value) || 'Check the spelling.'
          }
        },
      }
    },
    props: ['user'],
    name: "edit_user_dialog",
    computed: {
      edit_user () {
        return this.$store.state.users.edit_user_id
      },
      users_list () {
        return this.$store.state.users.users
      },
      edit_dialog_value () {
        return this.$store.state.users.edit_dialog_value
      }
    },
    methods: {
      close_dialog () {
        //Close dialog without changes
        this.$store.commit('users/setDialogValue', false)
      },
      save () {
        // add new user or edit old user
        var user_id = this.user.id
        var users = _.concat(this.users_list)
        var index = _.findIndex(users, function (o) { return o.id == user_id; });
        if (index != -1) {
          users[index] = this.user
        } else {
          users.unshift(this.user)
        }
        this.$store.commit('users/setUsers', users)
        this.close_dialog()
      }
    },
    mounted () {
    }
  }
</script>

<style scoped>

</style>
