<template>
  <div>
    <v-app>
      <header>
      </header>
      <nuxt/>
    </v-app>

  </div>
</template>
<script>
    export default {

        components: {},

        head() {
        },
        data() {
            return {

            };
        },
        computed: {
        },

        mounted: function () {
        },
        watch: {},
        commands: {},
        methods: {
        }
    }
</script>
<style lang="scss">
</style>

