<template>
  <div class="main_page_wrapper">
    <v-container>
      <v-row class="align-center">
        <v-col md="6" cols="12">
          <v-text-field
            label="Filter by username"
            hint="Write username please"
            v-model='filter'
            color="#46aa28"
          ></v-text-field>
        </v-col>
        <v-col md="6" cols="12" class="text-md-right text-center">
          <v-btn @click="create_new_user()" color="#46aa28">create new user</v-btn>
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="users_list"
        :items-per-page="5"
        class="elevation-1"
      >
        <template v-slot:item.action="{ item }">
          <v-icon @click="open_edit_user_dialog(item)" class="edit_btn">edit</v-icon>
        </template>
        <template v-slot:item.delete="{ item }">
          <v-icon @click="delete_user(item)" class="edit_btn">close</v-icon>
        </template>
      </v-data-table>
    </v-container>

    <edit_user_dialog :user="edit_user">

    </edit_user_dialog>
  </div>
</template>

<script>
  import edit_user_dialog from '../components/Edit_user_dialog'

  export default {
    components: { edit_user_dialog },
    data () {
      return {
        filter: '',
        headers: [
          {
            text: 'ID',
            align: 'start',
            sortable: false,
            value: 'id',
          },
          { text: 'Name', value: 'name' },
          { text: 'Username', value: 'username' },
          { text: 'Phone', value: 'phone' },
          { text: 'Website', value: 'website' },
          { text: 'Edit user', value: 'action' },
          { text: 'delete user', value: 'delete' },
        ],
        edit_user: { username: '', email: '', address: { city: '', suite: '', street: '' } },
        default_user: { username: '', email: '', address: { city: '', suite: '', street: '' } }
      }
    },
    computed: {
      users_list () {
        var users = this.$store.state.users.users
        var filter = this.filter
        if(filter == ''){
          return users //Displaying users without filtering
        }
        else {
          return _.filter(users, function (item) {
            return item.username.toLowerCase().indexOf(filter.toLowerCase()) != -1; //Displaying users with filtering
          })
        }

      }
    },
    mounted () {
      this.$store.dispatch('users/getUsers')// Calling the function for getting the list of users
    },
    watch: {},
    commands: {},
    methods: {
      delete_user(item){
        var user_id = item.id
        var users = _.concat(this.users_list)
        var index = _.findIndex(users, function(o) { return o.id == user_id; });//Finding the index of the deleted user
        users.splice(index, 1)// delete item from arrey by index
        this.$store.commit('users/setUsers', users)// write updated users list in VUEX
      },
      open_edit_user_dialog (item) {
        this.edit_user = JSON.parse(JSON.stringify(item))//Create a deep copy of a user object to avoid getting a VUEX error
        this.$store.commit('users/setDialogValue', true)
      },
      create_new_user () {
        this.edit_user = Object.assign(this.default_user)//Creating a copy of a user object
        this.$store.commit('users/setDialogValue', true)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .main_page_wrapper {
    .edit_btn {
      cursor: pointer;
    }

    .edit_btn:hover {
      color: #46a928;
    }
  }
</style>
